* {
    box-sizing: border-box;
}

html, body, button {
    font-family: montserrat;
    text-align: center;
}

select {
    -webkit-appearance: none;
    background: right / contain no-repeat white url("https://www.materialui.co/materialIcons/navigation/arrow_drop_down_black_144x144.png");
}

input[type="checkbox"], input[type="radio"] {
    vertical-align: top;
} 

textarea {
    resize: none;
}

p {
   margin-top: 1.6rem; 
}

h1 {
    margin: 4rem;
}

.labelsTab {
    margin-top: .5rem;
}

.option {
    padding-bottom: .4rem;
}

.rightTab, .labelsTab {
    text-align: left;
    padding: .4rem;
}
.inputField, select {
    width: 100%;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    padding: 1em;
    outline: none;
}

.grid {
    margin: 30px 0 30px 0;
}

#outer {
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    background-color: rgb(226, 245, 247);
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 0 2px 0 rgb(124, 124, 124);
}

#submit {
    font-size: 1em;
    height: 40px;
    width: 200px;
    background-color: #59ace0;
    color: white;
    border: none;
    border-radius: 4px;
    outline: none;
    margin-bottom: 1.6rem;
    
}

#submit:hover {
    transform: scale(1.05);
    cursor:pointer;
}

#submit:active {
  background-color: #0065c4;
  transform: translateY(2px);
}

@media screen and (min-width: 521px) {
    #outer {
        width: 75%;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }

    .choise {
        margin-top: 0;
    }

    .labelsTab {
        text-align: right;
    }

}

@media screen and (min-width: 834px) {
    .inputField, select {
        width: 280px;
    }
}
